**/__pycache__

.git
.idea

datasets/
demo/
pretrained_models/
thirdparty/
trained_models/

**/cache_dir
**/lightning_logs
**/log
**/logs
**/output_dir
**/serialization_dir
**/vocabulary
**/*file_folder_name*
**/*file_dir*
**/*output_dir*
**/*train*
**/*valid*
**/*test*

**/*.bib
**/*.bin
**/*.bz2
**/*.cache
**/*.ckpt
**/*.conf
**/*.csv
**/*.db
**/*.def
**/*.doc
**/*.DOC
**/*.flac
**/*.gz
**/*.h5
**/*.ipynb
**/*.jpg
**/*.list
**/*.map
**/*.mp3
**/*.msgpack
**/*.npy
**/*.npz
**/*.old
**/*.onnx
**/*.phn
**/*.pkl
**/*.png
**/*.sav
**/*.tab
**/*.th
**/*.TextGrid
**/*.tsv
**/*.wav
**/*.wrd
**/*.xlsx
**/*.xml
**/*.yaml
**/*.yml
**/*.zip

