**/__pycache__

.idea

./datasets/
./demo/
./models/

pretrained/
thirdparty/

**/cache_dir
**/lightning_logs
**/log
**/logs
**/output_dir
**/output_dir*
**/serialization_dir
**/vocabulary

**/*.bib
**/*.bin
**/*.bz2
**/*.cache
**/*.conf
**/*.csv
**/*.db
**/*.def
**/*.doc
**/*.DOC
**/*.flac
**/*.gz
**/*.h5
**/*.ipynb
**/*.jpg
**/*.json
**/*.list
**/*.map
**/*.mp3
**/*.msgpack
**/*.npy
**/*.npz
**/*.old
**/*.onnx
**/*.phn
**/*.pkl
**/*.png
**/*.sav
**/*.tab
**/*.th
**/*.TextGrid
**/*.tsv
**/*.wav
**/*.wrd
**/*.xlsx
**/*.xml
**/*.yaml
**/*.yml
**/*.zip

