torch
torchaudio
pandas
openpyxl
xlrd
tqdm
pytorch-lightning
overrides
transformers
flask
gevent
python-dotenv
jsonschema
requests
librosa
fugashi
ipadic
Flask-APScheduler
pytorch-pretrained-bert
scikit-learn
faiss-cpu
matplotlib
opencv-contrib-python
